name: Rust CI

on:
  push:
  pull_request:

jobs:
  build:
    name: Check
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Rust - Stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        components: clippy

    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@main

    - name: Install cargo-hack
      run: cargo binstall --no-confirm cargo-hack

    - name: Test
      run: cargo hack test --feature-powerset

    - name: Clippy
      run: cargo hack clippy --feature-powerset

    - name: Set up Rust - Nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal
        components: miri

    - name: Miri
      env:
        PROPTEST_CASES: 16
        MIRIFLAGS: -Zmiri-disable-isolation
      run: cargo +nightly miri test --all-features

    - name: Install cargo-msrv
      run: cargo binstall --no-confirm cargo-msrv

    - name: MSRV
      run: |
        cargo +nightly generate-lockfile -Z minimal-versions
        cd bin-proto
        cargo msrv verify
