name: Rust CI

on:
  push:
  pull_request:

jobs:
  build:
    name: Test and Benchmark
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Rust - Stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal

    - name: Set up Rust - Nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal

    - name: Test
      run: cargo test

    - name: Bench
      working-directory: bench
      run: cargo +nightly bench

    - name: Install cargo-msrv
      run: cargo install cargo-msrv

    - name: MSRV
      run: |
        cargo +nightly generate-lockfile -Z minimal-versions
        cd bin-proto
        cargo msrv --verify
